<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 align="center">
        Edit
      </h1>

      <p align="center">
        List all schemas and create new ones from scratch or copy existing schema.
      </p>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12" align="center">
      <md-card class="schema-list-item text-center" (click)="openCreateSchemaModal()"
        [style.background-color]="'white'"
        >
          <md-icon>add</md-icon>
      </md-card>
      <md-card class="schema-list-item"
               *ngFor="let schema of schemas; let i = index"
               [style.background-color]="alternateColorList(i)">
        <md-card-header align="left" (click)="showSelected($event, i, schema.id)">
          <div md-card-avatar class="weight-card-header-avatar" ></div>
          <md-card-title align="left">
            <h5>{{schema.name}}</h5>
          </md-card-title>
          <md-card-subtitle>
            <span>{{schema.description}}</span>
          </md-card-subtitle>
        </md-card-header>
        <md-card-content align="center" [@cardContent]="schemaVisibility[i].schemaId">

          <md-input-container>
            <input mdInput placeholder="Group name" value="{{newGroupName}}" (keyup.enter)="addGroup($event, groupName.value, schema.id)" #groupName>
          </md-input-container>
          <md-icon (click)="addGroup($event, groupName.value, schema.id)">add</md-icon>
          <md-card
            [style.background-color]="alternateColorList(i+1)"
            *ngFor="let group of visibleGroups"
            class="group-list-item">
            {{group.name}}
          </md-card>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)="copySchema(schema)">Copy</button>
          <button md-button (click)="openEditSchemaModal(schema)">Edit</button>
          <button md-button (click)="deleteSchema(schema)">Delete</button>
        </md-card-actions>

      </md-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <md-card *ngIf="selectedSchema!=null">
        <md-card-title>
          {{selectedSchema.name}}
        </md-card-title>
        <md-card-subtitle>
          {{selectedSchema.description}}
        </md-card-subtitle>
        <md-card-actions>
          <tr *ngFor="let user of selectedSchema.groups">
            <button md-button>{{user.firstname}}</button>
          </tr>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</div>
