<h2>Create schema</h2>
<div align="center">
  <md-input-container>
    <input mdInput placeholder="Name" value="{{initName}}"#name>
  </md-input-container ><br>
  <md-input-container >
    <textarea mdInput placeholder="Description" value="{{initDesc}}" #desc></textarea>
  </md-input-container><br>
</div>
<button md-button color="primary" (click)="dialogRef.close({name: name.value, description: desc.value})">
  Create
</button>
<button md-button color="primary" (click)="dialogRef.close(null)">
  Cancel
</button>
