
<md-toolbar color="primary">
  <div class="col-sm-1">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="md-24" >menu</md-icon>
    </button>
  </div>
  <div class="col-sm-10 text-center">
    <h3>Workout App</h3>
  </div>
  <!--<span class="spacer"></span>-->

  <div
    *ngIf="!auth.isAuthenticated()"
    (click)="auth.login()">
    <h4 md-button class="menu-item">
      Log In
    </h4>
  </div>
  <div class="col-xs-1" *ngIf="auth.isAuthenticated()">
    <button [ngStyle]="{'background-image': 'url(' + picture + ')', 'background-size':'cover'}" md-icon-button  color="warm">
      <md-icon></md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="menu"  color="warm">
      <md-icon>more_vert</md-icon>
    </button>
  </div>
</md-toolbar>

<md-menu #menu="mdMenu"
     overlapTrigger="false"
     yPosition="below">
  <button md-menu-item (click)="auth.logout()">
    <!--<md-icon>exit</md-icon>-->
    <span>Log out</span>
  </button>
</md-menu>

<md-sidenav-container>

  <md-sidenav #sidenav mode="push" class="app-sidenav col-xs-3">
    <md-nav-list>
      <a md-list-item (click)="sidenav.toggle()" routerLink="/">Home</a>
      <!--<a md-list-item (click)="sidenav.toggle()" routerLink="/about">About</a>-->
      <a md-list-item *ngIf="auth.isAuthenticated()" (click)="sidenav.toggle()" routerLink="/schema">My Schemas</a>
    </md-nav-list>
  </md-sidenav>

<main class="container">
  <!--<div class="col-xs-3 col-xs-offset-3">-->
    <router-outlet></router-outlet>
  <!--</div>-->
</main>
</md-sidenav-container>






