.spacer {
  flex: 1 1 auto;
}

.menu-item{
  padding-right: 15px;
}
.example-card {
  width: 0%;
  display: none;
}

.example-header-image {
  background-image : url('https://lh3.googleusercontent.com/-SLhr6KMx-_g/AAAAAAAAAAI/AAAAAAAAHWU/Dc_FPW0oNdw/photo.jpg');
  background-size: cover;
}
