<div class="container">
  <h1>
    Home
  </h1>
  <p>
    First page whe loading the app.
  </p>
  <md-card class="schema-list-item"
           *ngFor="let schema of schemas; let i = index"
           [style.background-color]="alternateColorList(i)">
    <md-card-header align="left" (click)="showSelected($event, i, schema.id)">
      <div md-card-avatar class="weight-card-header-avatar" ></div>
      <md-card-title align="left">
        <h5>{{schema.name}}</h5>
      </md-card-title>
      <md-card-subtitle>
        <span>{{schema.description}}</span>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content align="center" [@cardContent]="schemaVisibility[i].schemaId">
      <md-card
        [style.background-color]="alternateColorList(i+1)"
        *ngFor="let group of visibleGroups"
        (click)="goToGroupView(group.id)"
        class="group-list-item">
        {{group.name}}
      </md-card>
    </md-card-content>
  </md-card>
</div>


