/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.btn-margin {
  margin-top: 7px
}

.weight-card-header-avatar {
  background-image: url('app/images/weights.svg');
  background-size: cover;
}
